<?xml version="1.0" encoding="UTF-8"?>
<config>
    <glTextureLoaders>
        <name>com.amphibian.ffz.Ground</name>
        <name>com.amphibian.ffz.InfoLayer</name>
        <name>com.amphibian.ffz.Drawinator</name>
        <name>com.amphibian.ffz.Water</name>
    </glTextureLoaders>
</config>